.form
  .form-title
    %h1 New Activity
  = simple_form_for @activity do |f|
    .form-new-activity-inputs
      = f.input :title
      = f.input :desc
      = f.input :time
      = f.input :date
      = f.input :warmup
      = f.input :activity
      = f.input :cooldown
    .form-new-activity-modifiers
      = f.input :race
      = f.input :workout
    .form-footer
      = f.submit 'Save', class: 'button button-primary'
      = link_to 'Cancel', root_path